<!--SPDX-License-Identifier: MIT-->
<!--Copyright contributors to the kepler.gl project-->
<!--src/utils/export-map-html.ts-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Kepler.gl embedded map</title>
    <link rel="stylesheet" href="https://d1a3f4spazzrp4.cloudfront.net/kepler.gl/uber-fonts/4.0.0/superfine.css">
    <link href="https:https://unpkg.com/maplibre-gl@^3/dist/maplibre-gl.css" rel="stylesheet">
    <script src="https://unpkg.com/react@16.8.4/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16.8.4/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/redux@3.7.2/dist/redux.js" crossorigin></script>
    <script src="https://unpkg.com/react-redux@7.1.3/dist/react-redux.min.js" crossorigin></script>
    <script src="https://unpkg.com/styled-components@4.1.3/dist/styled-components.min.js" crossorigin></script>
    <script src="https://unpkg.com/kepler.gl@3.0.0/umd/keplergl.min.js" crossorigin></script>

    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div id="app">
</div>
<script>
    const reducers = (function createReducers(redux, keplerGl) {
        return redux.combineReducers({
            keplerGl: keplerGl.keplerGlReducer.initialState({uiState: {activeSidePanel: false}})
        });
    }(Redux, KeplerGl));

    const middleWares = (function createMiddlewares(keplerGl) {
        return keplerGl.enhanceReduxMiddleware([]);
    }(KeplerGl));

    const enhancers = (function craeteEnhancers(redux, middles) {
        return redux.applyMiddleware(...middles);
    }(Redux, middleWares));

    const store = (function createStore(redux, enhancers) {
        const initialState = {};
        return redux.createStore(
            reducers,
            initialState,
            redux.compose(enhancers)
        );
    }(Redux, enhancers));

    var KeplerElement = (function makeKeplerElement(react, keplerGl) {
        return function App() {
            var rootElm = react.useRef(null);
            var _useState = react.useState({
                width: window.innerWidth,
                height: window.innerHeight
            });
            var windowDimension = _useState[0];
            var setDimension = _useState[1];
            react.useEffect(function sideEffect() {
                function handleResize() {
                    setDimension({width: window.innerWidth, height: window.innerHeight});
                };
                window.addEventListener('resize', handleResize);
                return function () {
                    window.removeEventListener('resize', handleResize);
                };
            }, []);
            return react.createElement(
                'div',
                {style: {position: 'absolute', left: 0, width: '100vw', height: '100vh'}},
                'Some dataset name here',
                react.createElement(keplerGl.KeplerGl, {
                    id: "map",
                    width: windowDimension.width,
                    height: windowDimension.height,
                })
            )
        }
    }(React, KeplerGl));

    const app = (function createReactReduxProvider(react, reactRedux, KeplerElement) {
        return react.createElement(
            reactRedux.Provider,
            {store},
            react.createElement(KeplerElement, null)
        )
    }(React, ReactRedux, KeplerElement));

    (function render(react, reactDOM, app) {
        reactDOM.render(app, document.getElementById('app'));
    }(React, ReactDOM, app));
</script>
<script>
    function getQueryParameter(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }

    function loadJsonFile(filename) {
        return new Promise((resolve, reject) => {
            fetch(`http://127.0.0.1:8000/${filename}`)
                .then(response => response.json())
                .then(data => {
                    console.log("*** GOT IT ***")
                    resolve(data);
                })
                .catch(error => reject(error));
        });
    }
</script>
<script>
    //const filename = getQueryParameter('fn');
    const filename = "out-kepler.txt"
    if (filename) {
        loadJsonFile(filename).catch(error => {
            console.error('Error with the promise:', error);
        });
    } else {
        console.error('No filename specified in the query parameter');
    }

    (async function customize(keplerGl, store) {
        store.dispatch(keplerGl.addDataToMap({
            datasets: await loadJsonFile(filename),
            config: {},
            options: {}
        }));
    }(KeplerGl, store))
</script>
</body>
</html>
